@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.NavText{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
}
.carousel-item{
    height: 50vh;
}

.MainTitle{
    position: absolute;
    top: 20%;
    z-index: 99;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 5em;
    width: 100vw;
    text-align: center;
}
